.Topproduct{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 21%;
    height: 60vh;
    border: 0.5px solid rgb(212, 211, 211);
    border-radius: 8px;
    background-color: rgb(255, 255, 255);

}
.Topproduct img{
    width: 100%;
    object-fit: contain;
    margin-bottom: 5%;
    height: 100%;
}
/* .Topproduct-desc{
    font-size: 14px;
    margin-bottom: 10px;
} */
.Topproduct-G-buttons{
    display:none;
    gap: 5%;
    flex-direction: row;
    align-items:center;
    justify-content: flex-start;
    width: 80%;
    height: 100%;
    padding-left:5%;
}


.button-G{
    width: 17%;
    height: 50%;
    border: none;
    border-radius: 7px;
}
.button-G:hover{
    background-color: #16b5ff;
    color: rgb(255, 255, 255);
}
    .G-icon{
        width: 60%;
        height: 60%;
    }

.Topproduct-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
    padding-left:5%;
}
.Topproduct-buttons{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-start;
    width: 100%;
    height: 20%;
    border-top: 0.5px solid rgb(212, 211, 211);

}
.MdAddShoppingCart{
    width: 70%;
    height: 70%;
}



.Topproduct-cat{
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(168, 168, 168);
    margin-bottom: 0;
    padding-left: 5%;
}
.Topproduct-desc {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    padding-left: 5%;

}
.Topproduct-prix{
    font-size: 18px;
    font-weight: 700;display: flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
color:#16b5ff;
height: 25%;
}
.Topproduct-rat{
    color: rgb(255, 221, 0);
    margin-bottom: 0;
}
.Topproduct-addtocart{
    width: 12%;
    height: 48%;
    background-color: rgb(233, 231, 231);
    border: none;
    border-radius: 5px;
}
.Topproduct-addtocart:hover{
    background-color: #16b5ff;
    color: rgb(255, 255, 255);
}
.Topproduct:hover .Topproduct-G-buttons{
    display: flex;
}
.Topproduct:hover .Topproduct-info{
    display: none;
}
.Topproduct:hover {
    box-shadow: 10px -3px 22px 8px rgba(179,169,169,0.75);
-webkit-box-shadow: 10px -3px 22px 8px rgba(179,169,169,0.75);
-moz-box-shadow: 10px -3px 22px 8px rgba(179,169,169,0.75);
}


