.Filter{
    display: flex;
    width: 100%;
    height: 90vh;
    background-color: rgb(238, 238, 238);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2%;
    padding-top: 4%;
    padding-bottom: 4%;
}
.sl{
    width: 28%;
    height: 83vh;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;

}
.sl h3{
    /* font-size: 1.75rem; */
    padding-left: 5%;
    padding-top: 5%;
    font-size: larger;

}
.slider{
    width: 100%;
    height: 80%;
}
.element{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    /* background-color: blueviolet; */
    height:100%;

}
.element h3{
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.slick-next,.slick-prev{
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    border-radius: 50px;
    color: black;
opacity: 0;
}
.slick-next::before{
    color: black;
}
.slick-prev::before{
    color: black;
}
.sl:hover .slick-prev{
    opacity: 1;
    box-shadow: 2px -2px 24px -8px rgba(0,0,0,0.75);

}
.sl:hover .slick-next{
    opacity: 1;
    box-shadow: 2px -2px 24px -8px rgba(0,0,0,0.75);

}
.slick-prev:hover{
    background-color: rgb(87, 205, 255);

}
.slick-next:hover{
    background-color: rgb(87, 205, 255);
}
.slick-prev:hover .slick-prev::before{
color: rgb(255, 115, 87);
}
