.policy{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:30vh;
}
.policy-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 30%;
    gap: 2%;
}
.policy-item-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    text-align: left;
    padding-top: 5%;  

}
.policy-item-text p{
    font-size: 13px;
    width: 100%;
    color: #9b9b9b;
    height: 50%;

}
.policy-item-text h4{
    margin-bottom: 3%;
    width: 100%;
    height: 50%;
}
